
replicaCount: 1

image:
  repository: 978751494571.dkr.ecr.us-east-1.amazonaws.com/simple-docker-service-0e23b58d8e69
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080
  targetPort: 80

resources:
  requests:
    cpu: "0.5"        # Fargate-friendly (0.5 vCPU)
    memory: "1Gi"     # Fargate-friendly (1 GiB)
  limits:
    cpu: "0.5"
    memory: "1Gi"

ingress:
  enabled: true
  host: "vote.cloudysupport.info"

labels:
  app: vote
  lablesname: vote    # Required for Fargate profile (namespace=vote)

serviceAccount:
  create: true
  name: ""
  automount: true
  annotations: {}

httpRoute:
   enabled: false

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 3
