{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "vote-helm.fullname" . }}
  annotations:
    alb.ingress.kubernetes.io/load-balancer-name: k8s-default-resulthe-16f8f593c7   # SAME ALB AS RESULT
    alb.ingress.kubernetes.io/group.name: result-group             # SAME GROUP AS RESULT
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP":80}]'
spec:
  ingressClassName: alb
  rules:
    - host: {{ .Values.ingress.host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ include "vote-helm.fullname" . }}
                port:
                  number: {{ .Values.service.port }}
{{- end }}
